/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    background-color: #FFD1DC; /* Faded pink background */
    display: flex;
    justify-content: center; /* Center the inner container horizontally */
    align-items: center; /* Center the inner container vertically */
    height: 100vh; /* Full viewport height */
    padding: 20px;
    box-sizing: border-box;
}

.inner-container {
    background-color: #FFFFFF; /* White background */
    width: 90%; /* Increased width */
    height: 90%; /* Increased height */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for better appearance */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.third-container {
    display: flex;
    flex: 1; /* Allow content container to take the remaining space */
    max-height: 70%; /* Maintain the size of the content container */
}

.image-content-container {
    display: flex;
    flex: 1;
   
}

.image-content-container img {
    flex: 1;
    width: 50%; /* Image takes half of the container */
    height: 100%;
    object-fit: cover;
}

.text-content {
    flex: 1;
    background-color: #FAF3E0; /* Chalk white background color */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.text-content p {
    margin: 0;
    text-align: center;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
